<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col">
    <h3>List of jobs</h3>
  </div>
  <div class="col nav justify-content-end">
    <%= link_to 'New job', new_job_path, :class=> 'btn btn-primary' %>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Driver</th>
      <th scope="col">Car</th>
      <th scope="col">Busy from</th>
      <th scope="col">Busy to</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <td><%= job.driver.name %></td>
        <td><%= job.car.name %></td>
        <td><%= job.busy_from.strftime('%Y.%m.%d %H:%M') %></td>
        <td><%= job.busy_to.strftime('%Y.%m.%d %H:%M') %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
