<!DOCTYPE html>
<html>
  <head>
    <title>FleetManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <p><%= link_to 'Home', root_url %></p>
      <p><%= link_to 'Cars', cars_path %></p>
      <p><%= link_to 'Drivers', drivers_path %></p>
    </div>
    <%= yield %>
  </body>
</html>
