<!DOCTYPE html>
<html>
  <head>
    <title>FleetManagement</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container">
      <nav class="nav">
        <li class="nav-item"><%= link_to 'Jobs', root_url, :class=> 'nav-link'%></li>
        <li class="nav-item"><%= link_to 'Cars', cars_path, :class=> 'nav-link' %></li>
        <li class="nav-item"><%= link_to 'Drivers', drivers_path, :class=> 'nav-link' %></li>
      </nav>
    <%= yield %>
    </div>
  </body>
</html>
